modules = ["python-3.12", "nodejs-20"]
run = "python ./Python/Harvesting_in_Agriculture/dash_model.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python ./Python/Harvesting_in_Agriculture/dash_model.py"]
